.contenedor{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

li{
    margin: auto;
    text-decoration: none;
    list-style: none;
   padding-right: 70px;
}

button{
    width: 200px;
    margin: auto;
}