.container {
    width: 100%;
}

#title-container h1 {
    text-align: center;
    color: blueviolet;
    cursor: pointer;
}



.button-show {
    margin: 2% auto;
    width: 300px;
    height: 100px;
    margin: 2% 50%;
    display: block;
    background-color: pink;
    border-radius: 9px;
    border: none;
}

.button-none {
    margin: 2% auto;
    width: 300px;
    height: 100px;
    margin: 2% 50%;
    visibility: hidden;
    background-color: pink;
    border-radius: 9px;
    border: none;
}

.formContainer {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 400px;
    background-color: #FFAEBC;
    padding: 1% 5%;
    border-radius: 9px;
    
}

form button {
    height: 50px;
    background-color: blueviolet;
    border-radius: 9px;
    margin: 5% 0;
    color: #ffff;
    border: none;
}

.row {
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 2% auto;
    background-color: #A0E7E5;
    border-radius: 9px;

}

.col {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
