*{
    margin: 0;
    padding: 0;
}

body{
/*     border: 1px solid black; */
    font-size: 1.5rem;

}

.container{

    margin: auto;
    margin-top: 200px;
    background-color: whitesmoke;
    border: 2px solid black;
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin: 20px;
}

.button{
    background-color: yellow;
    height: 35px;
    width: 80px;
    box-shadow: 4px 4px 4px 2px black;
    border: 2px solid black;
}

.text{
    margin-left: 20px;
}

